.userlogin .inputfield {
	float: right;
	margin-left: 1em;
	background-color: rgba(0,0,0,0.05);
}

.userlogin .login-failed {
	background-color: rgba(255,0,0,0.3);
	border: 1px solid #CC0000;
}

.userlogin,
.usergreeting,
.userlogin div {
	min-width: 100%;
}

.userlogin div {
	clear: both;
}

.userlogin p,
.usergreeting p {
	margin: 0.1em;
	float: right;
	clear: both;
}

.usergreeting div {
	float: left;
}