/* line 1, ../sass/Header.scss */
.in3-header { position: fixed; top: 0; width: 100%; height: 4rem; background-color: #3129a3; color: #333333; }
/* line 9, ../sass/Header.scss */
.in3-header > .in3-header-content { width: 100%; height: 4rem; margin: 0 auto; text-align: left; }
