.demoapp-body{

  width: 100%;
  text-rendering: optimizeLegibility;
  font-size:1.5rem;
  background-color: hsl(0, 0%, 92%);
  min-height: 100%;
  margin:0;

  font-family:"Arial", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;

  > .demoapp-body-content {
    overflow: hidden;
    max-width: 1040px;
    margin: 5.5rem auto;
    text-align: left;
  }

}