fieldset.tb-ui-fieldset {
  left: 0px;
  right: 0px;
  margin-top: 2px;
  margin-bottom: 0;
  color: #858585;
  background-color: white;
  padding: 1.5rem 2.5rem; }
  fieldset.tb-ui-fieldset *:focus {
    outline: none;
    box-shadow: none;
    border-radius: inherit;
    border-color: inherit; }
  fieldset.tb-ui-fieldset *:focus:hover {
    outline: none;
    box-shadow: none;
    border-radius: inherit;
    border-color: inherit; }
  fieldset.tb-ui-fieldset label {
    float: left; }
  fieldset.tb-ui-fieldset span.tb-ui-field-hint {
    float: right; }
  fieldset.tb-ui-fieldset .tb-ui-field-tag {
    clear: both;
    display: block; }
  fieldset.tb-ui-fieldset input,
  fieldset.tb-ui-fieldset textarea,
  fieldset.tb-ui-fieldset select {
    padding: 0.75rem;
    float: none;
    clear: both; }
  fieldset.tb-ui-fieldset li.tb-ui-listedit-listelement {
    padding: 0rem;
    min-width: 100%;
    clear: both;
    float: none; }
    fieldset.tb-ui-fieldset li.tb-ui-listedit-listelement > button {
      float: right; }
    fieldset.tb-ui-fieldset li.tb-ui-listedit-listelement > div {
      overflow: hidden;
      padding-right: 2px; }
      fieldset.tb-ui-fieldset li.tb-ui-listedit-listelement > div > input {
        padding: 0;
        min-width: 100%; }
  fieldset.tb-ui-fieldset input:focus,
  fieldset.tb-ui-fieldset textarea:focus {
    border: 1px solid darkgrey; }
  fieldset.tb-ui-fieldset label,
  fieldset.tb-ui-fieldset span.tb-ui-field-hint,
  fieldset.tb-ui-fieldset span.tb-ui-field-message,
  fieldset.tb-ui-fieldset input,
  fieldset.tb-ui-fieldset textarea,
  fieldset.tb-ui-fieldset select {
    font-size: 0.875rem; }
  fieldset.tb-ui-fieldset label,
  fieldset.tb-ui-fieldset span.tb-ui-field-hint,
  fieldset.tb-ui-fieldset span.tb-ui-field-message {
    letter-spacing: 0.05em; }
  fieldset.tb-ui-fieldset label,
  fieldset.tb-ui-fieldset span.tb-ui-field-hint {
    line-height: 1.5rem; }
  fieldset.tb-ui-fieldset input,
  fieldset.tb-ui-fieldset textarea,
  fieldset.tb-ui-fieldset select,
  fieldset.tb-ui-fieldset li.tb-ui-listedit-listelement {
    left: 0px;
    right: 0px;
    margin-bottom: 3px;
    font-size: 1rem;
    color: #333333; }
  fieldset.tb-ui-fieldset input,
  fieldset.tb-ui-fieldset textarea,
  fieldset.tb-ui-fieldset select,
  fieldset.tb-ui-fieldset li.tb-ui-listedit-listelement {
    border: 0px none;
    background-color: #f0f0f0; }
  fieldset.tb-ui-fieldset li.tb-ui-listedit-listelement {
    min-height: 2rem;
    margin-bottom: 2px; }
  fieldset.tb-ui-fieldset li.tb-ui-listedit-listelement > * {
    line-height: 2rem; }
  fieldset.tb-ui-fieldset li.tb-ui-listedit-listelement input {
    font-size: 1rem;
    height: 2rem;
    left: 0;
    margin: 0; }
  fieldset.tb-ui-fieldset li.tb-ui-listeditselect-listelement label {
    font-size: 0.9rem;
    height: 2rem;
    left: 0;
    margin: 0;
    font-size: 1rem;
    color: #666666; }
  fieldset.tb-ui-fieldset li.tb-ui-listeditselect-listelement > label > input {
    margin-left: 0.9rem;
    margin-right: 0.9rem; }
  fieldset.tb-ui-fieldset select {
    width: 100%;
    margin: 0;
    border-radius: 0px;
    box-shadow: none;
    border: none;
    outline: none;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer; }
  fieldset.tb-ui-fieldset button {
    padding: 0;
    font-size: 1.5rem;
    height: 2rem;
    width: 2rem;
    border-radius: 0px;
    border: 0px none;
    background-color: #f0f0f0;
    background-image: none;
    text-shadow: none;
    cursor: pointer; }

.tb-ui-field-tag.tb-ui-validator-error {
  border: 1px solid red; }
  .tb-ui-field-tag.tb-ui-validator-error:hover, .tb-ui-field-tag.tb-ui-validator-error:focus {
    border: 1px solid red; }

.tb-ui-field-message {
  font-size: 0.875rem; }
  .tb-ui-field-message.tb-ui-validator-info {
    color: dodgerblue; }
    .tb-ui-field-message.tb-ui-validator-info:hover, .tb-ui-field-message.tb-ui-validator-info:focus {
      color: dodgerblue; }
  .tb-ui-field-message.tb-ui-validator-warning {
    color: orange; }
    .tb-ui-field-message.tb-ui-validator-warning:hover, .tb-ui-field-message.tb-ui-validator-warning:focus {
      color: orange; }
  .tb-ui-field-message.tb-ui-validator-error {
    color: red; }
    .tb-ui-field-message.tb-ui-validator-error:hover, .tb-ui-field-message.tb-ui-validator-error:focus {
      color: red; }

.tb-ui-field-label.tb-ui-validator-info {
  color: dodgerblue; }
.tb-ui-field-label.tb-ui-validator-warning {
  color: orange; }
.tb-ui-field-label.tb-ui-validator-error {
  color: red; }

.tb-ui-button {
  text-decoration: none;
  padding: 1rem 2rem;
  margin: 0 1.5rem;
  font-size: 1rem;
  line-height: 1rem;
  height: 3rem;
  border-radius: 0px;
  border: 0px none;
  background-image: none;
  cursor: pointer; }
  .tb-ui-button.primary {
    background-color: #433d99;
    color: white; }
  .tb-ui-button.primary:hover {
    background-color: #383380; }
  .tb-ui-button .tb-ui-autocomplete {
    text-decoration: none;
    padding: 0;
    border-radius: 0px;
    border: 1px solid darkgrey;
    display: none;
    font-size: 0.9rem;
    cursor: pointer; }

/*# sourceMappingURL=Form.css.map */
