.demoapp-configuration-templateselector{
  clear: both;
  height: 280px !important;
  overflow: hidden;
  overflow-y: auto;

  & .demoapp-configuration-templateselectoritem {
    font-size: 0.9rem;
    max-width: 200px;
    padding: 2rem 2rem;
    display: inline-block;

    &.selected {
      background-color: lightgrey;
    }

    &.active {
      border: 1px solid black;
    }

    & > div {
      text-overflow: ellipsis;
    }
  }

}