._demoapp-window {
	position: relative;
	left: 0;
	right: 0;
	margin: 0;
	margin-bottom: 4px;
	/*margin-right: 1em;*/
	border: 1px solid gray;
	border-radius: 7px;
    background-color: rgb(255,255,255);
    background-color: rgba(0,0,0,0);
}

/* title line */
._demoapp-window > div:nth-child(1) {
	left: 0;
	right: 0;
	margin: 0;
	padding: 3px;
	background-color: rgba(0,0,0,0.1);
	text-align: center;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

._demoapp-window > div:nth-child(1) > div.title {
	left: 0;
	right: 0;
	margin: 0;
	font-weight: bold;
	font-style: italic;
	text-align: left;
	color: white;
	border-color: white;
}

._demoapp-window._demoapp-window-active > div:nth-child(1) {
	background-color: rgba(0,0,0,0.4);
}

._demoapp-window > div:nth-child(1) span {
	display: none;
	float: right;
}

._demoapp-window > div:nth-child(1) span i {
	cursor: pointer;
	margin-left: 0.2em;
	color: white;
}

._demoapp-window > div:nth-child(1) span i.expand-icon,
._demoapp-window > div:nth-child(1) span i.contract-icon {
	margin-left: 1em;
}

._demoapp-window > div:nth-child(1) span ._tb-ui-simpleTooltip:hover > ._tb-ui-simpleTooltipContent {
	margin-left: -3em; /* otherwise rightmost icon tooltips would underflow */
}

._demoapp-window._demoapp-window-topwindow > div:nth-child(1) span i.movetop-icon,
._demoapp-window._demoapp-window-topwindow > div:nth-child(1) span i.moveup-icon {
	display: none;
}

._demoapp-window._demoapp-window-bottomwindow > div:nth-child(1) span i.movedown-icon,
._demoapp-window._demoapp-window-bottomwindow > div:nth-child(1) span i.movebottom-icon {
	display: none;
}

._demoapp-window._demoapp-window-active > div:nth-child(1) span,
._demoapp-window > div:nth-child(1) span:hover {
	display: block;
}

/* content area */
._demoapp-window > div:nth-child(2) {
	position: relative;
	left: 0;
	right: 0;
	margin: 0;
	overflow: hidden;
	background-color: rgba(255,255,255,0.5);
}

._demoapp-window._demoapp-window-active > div:nth-child(2) {
	background-color: rgba(255,255,255,1);
}

._demoapp-window > div:nth-child(3){
	left: 0;
	right: 0;
	margin: 0;
	margin-top: -3px;
	padding-top: 5px;
	padding-left: 3px;
	padding-bottom: 3px;
	background-color: rgba(0,0,0,0.05);
	font-weight: bold;
	font-style: italic;
	text-align: left;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	color: white;
}

._demoapp-window > div:nth-child(3) * {
	padding: 3px;
}
._demoapp-window-active > div:nth-child(3) {
	background-color: rgba(0,0,0,0.2);
}

/* scrollBar css */
._demoapp-window > div:nth-child(2) > div._tb-ui-scroll-on + div {
	margin: 0px;
	border-radius: 0px;
	border: 0px none;
	border-left: 1px solid gray;
	width: 1.3em;
}

/* scrollHandle fix */
._demoapp-window > div:nth-child(2) > div._tb-ui-scroll-on + div > div {
	left: 0px;
	right: 1px;
}


