.demoapp-window {
	position: relative;
	left: 0;
	margin: 0;
	margin-bottom: 4px;
	margin-right: 10px;
	border: 1px solid gray;
	border-radius: 7px;
}

/* title line */
.demoapp-window > div:nth-child(1) {
	left: 0;
	right: 0;
	margin: 0;
	padding: 3px;
	background-color: rgba(0,0,0,0.1);
	font-weight: bold;
	font-style: italic;
	text-align: center;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

._demoapp-window-active > div:nth-child(1) {
	background-color: rgba(0,0,0,0.4);
}

/* content area */
.demoapp-window > div:nth-child(2) {
	position: relative;
	left: 0;
	right: 0;
	margin: 0;
	overflow: hidden;
	background-color: rgba(255,255,255,0.5);
}

._demoapp-window-active > div:nth-child(2) {
	background-color: rgba(255,255,255,1);
}

/* overload scroll css */
.demoapp-window > div:nth-child(2) > div > div > div {
	margin: 10px;
	margin-right: 50px;
}

.demoapp-window > div:nth-child(2) > div + div > div {
	background-color: rgba(0,0,0,0.3);
}

.demoapp-window > div:nth-child(3){
	left: 0;
	right: 0;
	margin: 0;
	padding: 3px;
	background-color: rgba(0,0,0,0.05);
	font-weight: bold;
	font-style: italic;
	text-align: center;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

._demoapp-window-active > div:nth-child(3) {
	background-color: rgba(0,0,0,0.2);
}

